body {
  background-color: aliceblue;
}

h1 {
  text-align: center;
  background-color: white;
  padding: 16px;
  margin: 16px;
  border: 16px;
  border-radius: 16px;
}
.pagetitle {
    color: black;
}

table{
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  border-spacing: 20px;
  border-collapse: separate;
}

th{
  text-align: left;
}

.buttonHolder {
  text-align: center;
}

.submit {
  font-size: xx-large;
}
