<html>
  <head>
    <title>Submit a form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Submit a form</h1>
      </div>
      <div id="main">
        <form method="post" action="{{ url_for('submitted_form') }}">
          <label for="university">University:</label>
          <input type="text" name="university"><br />
          <label for="departure">Departure:</label>
          <input type="departure" name="departure"><br />
          <label for="destination">Destination:</label>
          <input type="destination" name="destination"><br />
          <label for="comments">Comments:</label>
          <textarea name="comments"></textarea><br />
          <input type="submit">
        </form>
      </div>
    </div>
  </body>
</html>