<html>
  <head>
    <title>Submit a form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Submit a form</h1>
      </div>
      <div id="main">

        <form method="post" action="{{ url_for('submitted_form') }}">
          <table>
            <tr>
              <th><label for="university">University:</label></th>
              <th><label for="departure">Departure:</label></th>
              <th><label for="destination">Destination:</label></th>
              <th><label for="year">Year:</label></th>
              <th><label for="month">Month:</label></th>
              <th><label for="day">Day:</label></th>
            </tr>
            <tr>
              <th><input type="text" name="university"><br /></th>
              <th><input type="text" name="departure"><br /></th>
              <th><input type="text" name="destination"><br /></th>
              <th><input type="text" name="year"><br /></th>
              <th><input type="text" name="month"><br /></th>
              <th><input type="text" name="day"></th>
            </tr>
          </table>
            <div class="buttonHolder">
              <input class="submit" type="submit">
            </div>
        </form>
      </div>
    </div>
  </body>
</html>