<html>

  <head>
    <title>Submit a form</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>

  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Submit a form</h1>
      </div>
      <div id="main">
        <form method="post" action="{{ url_for('submitted_form') }}">
          <table>
            <tr>
              <th><label for="university">University</label></th>
              <th><label for="departure">Departure</label></th>
              <th><label for="destination">Destination</label></th>
            </tr>
            <tr>
              <th><input type="text" name="university"><br /></th>
              <th><input type="departure" name="departure"><br /></th>
              <th><input type="destination" name="destination"><br /></th>
              </table>
            </tr>
              <div class="buttonHolder">
                <input class="submit" type="submit">
              </div>
        </form>
      </div>
    </div>
  </body>

</html>
