<html>
 <head>
   <title>Submitted form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
       <h1>Form submitted</h1>
     </div>
     <div id="main">
       <p>Thanks for your submission!</p>
       <p>Here's a review of the information that you sent:</p>
       <p>
          <strong>University</strong>: {{university}} <br>
          <strong>Departure</strong>: {{departure}} <br>
          <strong>Destination</strong>: {{destination}} <br>
          <strong>Year</strong>: {{year}} <br>
          <strong>Month</strong>: {{month}} <br>
          <strong>Day</strong>: {{day}} <br>
          <strong>Deals Available</strong>: {{dealsAv}} <br>
          <strong>Lowest Fares Available</strong>: {{lowestFaresAv}}
       </p>

      <table>
        <thead>
          <tr>Flight Number</tr>
          <tr>Departure</tr>
          <tr>Destination</tr>
          <tr>Flight Date/Time</tr>
          <tr>Flight Type</tr>
          <tr>Fare Type</tr>
          <tr>Dollar Fare</tr>
        </thead>
        <tbody>
       {% for deal in dealsAv %}
       <tr>
        {% for item in deal %}
          <td> {{ item }} </td>
        {% endfor %}
      </tr>
       {% endfor %}
       </tbody>
     </table>

     <br>

       <table>
        <thead>
          <tr>Departure</tr>
          <tr>Destination</tr>
          <tr>Flight Date/Time</tr>
          <tr>Flight Type</tr>
          <tr>Fare Type</tr>
          <tr>Final Price</tr>
        </thead>
        <tbody>
       {% for fare in lowestFaresAv %}
       <tr>
        {% for item in fare %}
          <td> {{ item }} </td>
        {% endfor %}
      </tr>
       {% endfor %}
       </tbody>
     </table>
     </div>
   </div>
 </body>
</html>