<html>
 <head>
   <style>
   table, th, td {
     border: 1px solid black;
   }
   </style>
   <title>Submitted form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
       <h1>Form submitted</h1>
     </div>
     <div id="main">
       <p>Thanks for your submission!</p>
       <p>Here's a review of the information that you sent:</p>
       <p>
          <strong>University</strong>: {{university}} <br>
          <strong>Departure</strong>: {{departure}} <br>
          <strong>Destination</strong>: {{destination}} <br>
          <strong>Year</strong>: {{year}} <br>
          <strong>Month</strong>: {{month}} <br>
          <strong>Day</strong>: {{day}} <br>
          <strong>Deals Available</strong>: {{dealsAv}} <br>
          <strong>Lowest Fares Available</strong>: {{lowestFaresAv}}
       </p>

      <table>
        <tr>
          <th>Flight Number</th>
          <th>Departure</th>
          <th>Destination</th>
          <th>Flight Date/Time</th>
          <th>Flight Type</th>
          <th>Fare Type</th>
          <th>Dollar Fare</th>
        </tr>
        <tbody>
       {% for deal in dealsAv %}
       <tr>
        {% for item in deal %}
          <td> {{ item }} </td>
        {% endfor %}
      </tr>
       {% endfor %}
       </tbody>
     </table>

     <br>

    <table>
        <tr>
          <th>Departure</th>
          <th>Destination</th>
          <th>Flight Date/Time</th>
          <th>Flight Type</th>
          <th>Fare Type</th>
          <th>Final Price</th>
        </tr>
        <tbody>
       {% for fare in lowestFaresAv %}
       <tr>
        {% for item in fare %}
          <td> {{ item }} </td>
        {% endfor %}
      </tr>
       {% endfor %}
       </tbody>
     </table>
     </div>
   </div>
 </body>
</html>
